<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>kylin os</vendor>
  <vendor_url>http://github.com/ubuntukylin/</vendor_url>
  <action id="com.kylinusbcreator.systemdbus.getcomputerinfo">
    <description>kylin-usb-creator</description>
    <message>system policy of kylin-usb-creator</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
